services:
  pose-prediction:
    build: 
      context: .
    container_name: prtr-pose-prediction
    platform: linux/arm64
    ports:
      - "8501:8501"
    volumes:
      - ./input:/app/input
      - ./output:/app/output
      - ./models:/app/models
      - ./.streamlit:/app/.streamlit
      - ./app.py:/app/app.py
      - ./start_app.py:/app/start_app.py
    environment:
      - PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python
      - PYTORCH_ENABLE_MPS_FALLBACK=1
    command: ["python", "start_app.py"]
    stdin_open: true
    tty: true
